@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

/* 
NAV BAR
*/

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    
}

.nav__link--anchor {
    text-decoration: none;
    font-weight: 600;
    margin: 0 12px;
    font-size: 16px;
    color: #242424;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    color: white;
    border-radius: 50px;
    padding: 8px 20px;
    transition: 500ms ease;

}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
    

}

.personal__logo {
    color: #6030B1;
    margin: 0 12px;
    font-size: 24px;
    font-weight: bold;

}

/* HEADER */
h1 { font-size: 36px;
}

.aboutme__img--wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 100px;
}

.row {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}