@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

a {
    text-decoration: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}



/* 
NAV BAR
*/

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 0 12px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link--anchor {
  text-decoration: none;
  font-weight: 600;
  margin: 0 12px;
  font-size: 16px;
  color: #242424;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  color: white;
  border-radius: 50px;
  padding: 8px 20px;
  transition: 500ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}

.personal__logo {
  color: #6030b1;
  margin: 0 12px;
  font-size: 24px;
  font-weight: bold;
}

/* HEADER */
h1 {
  font-size: 36px;
}

header {
  height: 100%;
}

.row {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 0 12px;
}

.about-me__description--container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}

.about-me__img--wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
}

.about-me__img {
  width: 100%;
  transform: scale(3);
  padding-bottom: 36px;
}

.text--purple {
  color: #6030b1;
}

.about-me__info--para {
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
}

.about-me__info--title {
  margin-bottom: 16px;
}

.about-me__link {
  font-size: 20px;
  color: #242424;
  padding: 0 16px;
  text-decoration: none;
}

.about-me__links {
  margin-bottom: 16px;
}

.about-me__artwork {
  width: 100%;
}

.section__title {
  font-size: 36px;
  margin: 0 0 20px 0;
}

.container {
  padding: 50px 0;
}

#languages {
  background-color: #f8f8f8;
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
}

.language:hover .language__img {
    opacity: 0.86;
    filter: brightness(60%);
    transform: scale(0.9);
    
    
}

.language__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.language__img--wrapper {
    padding: 25px 16px;
    
}

.language__name {
    position: absolute;
    bottom: 0%;
    font-size: 20px;
    transform: scale(0);
    opacity: 0;
    
    
}

.language:hover .language__name {
    transition: all 300ms;
    transform: scale(1);
    opacity: 100%;
}

/* PROJECTS */
.project {
    margin-bottom: 135px;
  }
  
  .project:last-child {
    margin-bottom: 40px;
  }
  
  .project__img {
    width: 100%;
    transition: all 500ms ease;
  }
  
  .project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  .project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
    z-index: 2;
    transform: translateY(100%);
  }
  .project:hover .project__wrapper:before {
    transform: translateY(0);
    opacity: 0.7;
  }
  .project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
  }
  
  .project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
  }
  
  .project__list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
  }
  
  .project__description--title {
    font-size: 40px;
  }
  
  .project__description--para {
    margin: 16px 0;
  }
  
  .project__description--link {
    font-size: 20px;
    margin-right: 16px;
  }
  
  .project__description--title,
  .project__description--sub-title,
  .project__description--para,
  .project__description--link {
    text-align: left;
    color: #fff;
  }

  /* Footer */
  #footer {
    background-color: #242424;
    padding: 8% 0;
  }

  .footer__copyright, .footer__social--link {
    color: white;
  }

  

  .footer__social--list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
    margin-bottom: 28px;
  }

  .footer__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .footer__logo--img {
    width: 100px;
    filter: invert(100%)
    
  }

  .footer__logo {
    margin-bottom: 24px;
  }

@media (max-width:768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }
  
  .language {
    width: 33.3333%;
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left:30px;
    padding-right:30px;
  }
}


@media (max-width:480px) {
  .nav__link:not(:last-child) {
    display: none;
  }

  .project__description--para {
    display: none;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }
  .project__description--links {
    justify-content: center;
    display: flex;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;

  }
  .project__description--title {
   line-height: 1;
   font-size: 32px;
   text-align: center;

  }
}