@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

/* 
NAV BAR
*/

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    
}

.nav__link--anchor {
    text-decoration: none;
    font-weight: 600;
    margin: 0 12px;
    font-size: 16px;
    color: #242424;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    color: white;
    border-radius: 50px;
    padding: 8px 20px;
    transition: 500ms ease;

}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
    

}

.personal__logo {
    color: #6030B1;
    margin: 0 12px;
    font-size: 24px;
    font-weight: bold;

}

/* HEADER */
h1 { font-size: 36px;
}

header {
    height: 100%;
}




.row {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.about-me__description--container {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;

}

.about-me__img--wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
    margin-bottom: 28px;
    

}

.about-me__img {
    width: 100%;
    transform: scale(3);
    padding-bottom: 36px;
    
}

.text--purple {
    color: #6030B1;
}

.about-me__info--para {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
    
}

.about-me__info--title {
    margin-bottom: 16px;

}

.about-me__link {
    font-size: 20px;
    color: #242424;
    padding: 0 16px;
    text-decoration: none;
}

.about-me__links {
    margin-bottom: 16px;
}
.about-me__artwork--wrapper {
    
}

.about-me__artwork {
    width: 100%;
}

.section__title {
    font-size: 36px;
    margin: 0 0 20px 0;
}

.container {
    padding: 50px 0;
}

#languages {
    background-color: #f8f8f8;
}